<li class="li-left"><button class="button">Administracion▼</button>
     <ul class="desplega">
       <li><a class="button" href="index.php?action=listar&option=usuarios&indice=1">Usuarios</a></li>
        <li><a class="button" href="index.php?action=adduser">Nuevo Usuario</a></li>
        <li><a class="button" href="index.php?action=roles">Roles</a></li>
        <li><a class="button" href="index.php?action=permisos">Permisos</a></li>
        <li><a class="button" href="index.php?action=configuraciones">Configuracion</a></li>
     </ul>
</li>
