<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Curva crecimiento por peso</title>
    <meta name="author" content="">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--  Fonts awesome-->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="./css/scrolling-nav.css" rel="stylesheet">

  </head>
	<body>
<script src="./vendor/grafico/code/highcharts.js"></script>
<script src="./vendor/grafico/code/modules/exporting.js"></script>

{% include 'header.twig.html' %}
<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>Curva crecimiento por peso</h1>
    <p class="lead"></p>
  </div>
</header>
<script src="./vendor/grafico/code/highcharts.js"></script>
<script src="./vendor/grafico/code/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
Highcharts.chart('container', {
    chart: {
        type: 'line'
    },
    title: {
        text: 'Niñas'
    },
    xAxis: {
        categories: [1,2,3,4,5,6,7,8,9,10,11,12,13]
    },
    yAxis: {
        title: {
            text: 'Peso Kg'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    credits: {
        enabled: false
    },
    series: [{
					name: 'Bebé',
          data:[ {% for peso in datos %} {{ peso.peso}}, {% endfor %} ]},
		{
			name: 'M (SD0)',
			data: [3.2322,3.3388,3.5693,3.8352,4.0987,4.3476,4.5793,4.7950,4.9959,5.1842,5.3618,5.5295,5.6883,5.8393]
		},]
		});
		</script>
		{% include 'footer.twig.html' %}
	<!-- </body>
</html> -->
