<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{infoHospital.titulo}}</title>
    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--  Fonts awesome-->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="./css/scrolling-nav.css" rel="stylesheet">

  </head>

{% include 'header.twig.html' %}
    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>El Hospital</h1>
        <p class="lead">{{ infoHospital.descripcionHospital }}</p>
      </div>
    </header>

    <div class="mensaje-error">{{ error }}</div>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Guardia</h2>
            <p class="lead">{{ infoHospital.descripcionGuardia }}</p>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Especialidades</h2>
            <p class="lead">{{ infoHospital.descripcionEspecialidades }}</p>
          </div>
        </div>
      </div>
    </section>
{% include 'footer.twig.html' %}
