<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Configuracion-</title>
    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--  Fonts awesome-->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="./css/scrolling-nav.css" rel="stylesheet">

  </head>

<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>ERROR</h1>
    <p class="lead">- El sitio se encuentra en Mantenimiento- </p>
    <a title="Login" href="index.php?action=login"><button class="btn btn-info" type="button">Ingresar</button></a>
  </div>
</header>

{% include 'footer.twig.html' %}
